n8n-workflow-spectra-prospeccion.json
{
  "name": "Spectra Flow - Prospeccion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectra-prospect",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "spectra-prospect"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"stage\": \"scraping\", \"status\": \"completed\"}"
      },
      "id": "2",
      "name": "Notificar Inicio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        160
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.outscraper.com/maps/search-v3",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.category }} en {{ $json.city }}, {{ $json.province }}, {{ $json.country }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.quantity }}"
            },
            {
              "name": "async",
              "value": "false"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "ZWI3ZmE4YmI4ZWMyNDJjYTlhNjIyMGNiZGFkNDZkNDR8OGU4NDEwNmJjZQ"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "3",
      "name": "Outscraper Buscar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer los resultados de Outscraper y guardar contexto del webhook\nconst webhookData = $('Webhook').first().json;\nconst outscraper = $input.first().json;\n\nlet businesses = [];\nif (outscraper.data && Array.isArray(outscraper.data) && outscraper.data.length > 0) {\n  businesses = Array.isArray(outscraper.data[0]) ? outscraper.data[0] : outscraper.data;\n}\n\nconst results = businesses.map(biz => ({\n  json: {\n    name: biz.name || '',\n    full_address: biz.full_address || '',\n    phone: biz.phone || '',\n    site: biz.site || '',\n    email_1: biz.email_1 || biz.email_2 || '',\n    rating: biz.rating || 0,\n    reviews: biz.reviews || 0,\n    category: biz.category || '',\n    city: biz.city || webhookData.city || '',\n    state: biz.state || webhookData.province || '',\n    callback_url: webhookData.callback_url,\n    progress_url: webhookData.progress_url,\n    api_key: webhookData.api_key\n  }\n}));\n\nreturn results.length > 0 ? results : [{ json: { error: 'No results', callback_url: webhookData.callback_url } }];"
      },
      "id": "4",
      "name": "Extraer Negocios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        380
      ]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "5",
      "name": "Lotes de 3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify.optimia.disruptive-sw.com/v1/workflows/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer app-JXLErCQh2VNTu6yCHJU6uOGs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {\n    \"business_data\": \"Nombre: {{ $json.name }}\\nDireccion: {{ $json.full_address }}\\nTelefono: {{ $json.phone }}\\nWebsite: {{ $json.site }}\\nEmail: {{ $json.email_1 }}\\nRating: {{ $json.rating }}\\nReviews: {{ $json.reviews }}\\nCategoria: {{ $json.category }}\\nCiudad: {{ $json.city }}\\nProvincia: {{ $json.state }}\"\n  },\n  \"response_mode\": \"blocking\",\n  \"user\": \"spectra-n8n\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6",
      "name": "Dify Clasificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos originales + scoring de Dify\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const raw = item.json;\n  let difyResult = {};\n  \n  try {\n    // workflows/run devuelve data.outputs.result\n    let answer = '';\n    if (raw.data && raw.data.outputs && raw.data.outputs.result) {\n      answer = raw.data.outputs.result;\n    } else if (raw.answer) {\n      answer = raw.answer;\n    } else if (raw.text) {\n      answer = raw.text;\n    }\n    const jsonMatch = answer.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      difyResult = JSON.parse(jsonMatch[0]);\n    }\n  } catch(e) {\n    difyResult = {\n      ai_score: 50,\n      quality_level: 'average',\n      recommendation: 'Clasificacion automatica no disponible',\n      normalized_category: raw.category || '',\n      recommended_first_line: ''\n    };\n  }\n  \n  // Recuperar datos originales del batch context\n  const batchItems = $('Lotes de 3').all();\n  const batchItem = batchItems.length > 0 ? batchItems[batchItems.length - 1].json : raw;\n  \n  results.push({\n    json: {\n      business_name: batchItem.name || raw.name || '',\n      raw_category: batchItem.category || raw.category || '',\n      normalized_category: difyResult.normalized_category || batchItem.category || '',\n      province: batchItem.state || raw.state || '',\n      city: batchItem.city || raw.city || '',\n      website: batchItem.site || raw.site || '',\n      email: batchItem.email_1 || raw.email_1 || '',\n      phone: batchItem.phone || raw.phone || '',\n      address: batchItem.full_address || raw.full_address || '',\n      rating: batchItem.rating || raw.rating || 0,\n      reviews_count: batchItem.reviews || raw.reviews || 0,\n      ai_score: parseInt(difyResult.ai_score) || 50,\n      quality_level: difyResult.quality_level || 'average',\n      recommendation: difyResult.recommendation || '',\n      recommended_first_line: difyResult.recommended_first_line || '',\n      callback_url: batchItem.callback_url || raw.callback_url || '',\n      progress_url: batchItem.progress_url || raw.progress_url || '',\n      api_key: batchItem.api_key || raw.api_key || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "7",
      "name": "Transformar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agrupar todos los leads y enviar al callback de Spectra Flow\nconst allLeads = $input.all().map(i => {\n  const d = i.json;\n  return {\n    business_name: d.business_name,\n    raw_category: d.raw_category,\n    normalized_category: d.normalized_category,\n    province: d.province,\n    city: d.city,\n    website: d.website,\n    email: d.email,\n    phone: d.phone,\n    address: d.address,\n    rating: d.rating,\n    reviews_count: d.reviews_count,\n    ai_score: d.ai_score,\n    quality_level: d.quality_level,\n    recommendation: d.recommendation,\n    recommended_first_line: d.recommended_first_line\n  };\n});\n\nconst first = $input.first().json;\n\nreturn [{\n  json: {\n    leads: allLeads,\n    raw_count: allLeads.length,\n    callback_url: first.callback_url,\n    api_key: first.api_key\n  }\n}];"
      },
      "id": "8",
      "name": "Agrupar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leads\": {{ JSON.stringify($json.leads) }},\n  \"raw_count\": {{ $json.raw_count }}\n}",
        "options": {}
      },
      "id": "9",
      "name": "Callback Spectra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"processing\", \"message\": \"Job recibido y procesando\"}"
      },
      "id": "10",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten webhook body to root level\nconst body = $input.first().json.body || $input.first().json;\nreturn [{ json: { ...body } }];"
      },
      "id": "11",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        380
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outscraper Buscar": {
      "main": [
        [
          {
            "node": "Extraer Negocios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Negocios": {
      "main": [
        [
          {
            "node": "Lotes de 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lotes de 3": {
      "main": [
        [
          {
            "node": "Dify Clasificar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transformar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify Clasificar": {
      "main": [
        [
          {
            "node": "Lotes de 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Datos": {
      "main": [
        [
          {
            "node": "Agrupar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Leads": {
      "main": [
        [
          {
            "node": "Callback Spectra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Notificar Inicio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Outscraper Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}